<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="100">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6a62f01b8c.js" crossorigin="anonymous"></script>
    <script src="{% static 'home/script.js' %}"></script>
    <title>История ключевых слов</title>
</head>

<body>
    <header>
        <h1>История ключевых слов</h1>
    </header>
    {% if messages %}
            {% for message in messages %}
                <div id="boxes">
                        <div id = "message" class="window" style="display: block">
                            <div class="close"><a href="#">&times;</a></div>
                            <div class="modal-body">
                                {{ message }}
                            </div>
                        </div>
                    <div id="back" style="display: block"></div>
                </div>
            {% endfor %}
            <script>mes()</script>
        {% endif %}
    <div class="table-block">
        <table class="table" >
            {% if hist_s.count > 0 %}
            <tr>
                <th>Удалить <br>запрос</th>
                <th>№ п/п</th>
                <th>Дата создания</th>
                <th>Способ создания</th>
                <th>Ключевые слова</th>
            </tr>
                {% for hist in hist_s %}
                    <tr id = "{{hist.uid}}">

                    <td><a class = "del" href="{% url 'delete_keys' hist.pk %}">&times;</a></td>
                    <td>{{hist.uid}}</td>
                    <td>{{hist.created_at}}</td>
                    <td>{{hist.type}}</td>
                        {% if hist.type == 'Ручные' %}
                            <td><a class="down" href="{% url 'download' hist.pk 'word' %}" download>Скачать файл</a></td>
                        {% elif hist.type == 'Модель' %}
                            <td><a class="down" href="{% url 'download' hist.pk 'word_reestr' %}" download>Скачать реестр</a>
                            <a class="down" href="{% url 'download' hist.pk 'word_achive' %}" download>Скачать архив</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            {% endif %}


        </table>

    </div>
    <div class="history_button">
        <button class="history_button_return" onclick="location.href='{% url 'restart'%}?id=' + document.querySelector('tr[class=active]').id + '&typ=слово'">Применить</button>
        <button class="history_button_back" onclick="location.href='{% url 'account' %}'">Вернуться</button>
    </div>
</body>

    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>

</html>